<div class="root">
    <div class='page'>
    
    <div class="page-main">
        <app-drawer-navbar></app-drawer-navbar>
    
        <div class="page-body">Dashboard
        <div class="row my-4">
        <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="card">
                <h5 class="card-header">Developers</h5>
                <div class="card-body cardBodyInfo">
                <div class="circle">{{ devInfo.length }}</div>
                <p class="card-text">
                    <span *ngFor="let devs of devInfo">{{ devs.name }}<br/></span>
                </p>
                </div>
                </div>
        </div>
    
        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
            <div class="card">
                <h5 class="card-header">QAs</h5>
                <div class="card-body cardBodyInfo">
                <div class='circle'>{{ qaInfo.length }}</div>
                <p class="card-text">
                    <span *ngFor="let qas of qaInfo">{{ qas.name }}<br/></span>
                </p>
                </div>
                </div>
        </div>
        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
            <div class="card">
                <h5 class="card-header">Bugs</h5>
                <div class="card-body cardBodyInfo">
                <h6>Open Bug(s):</h6>
                <div class='circle'>{{ openBugInfo.length }}</div>
                <p class="card-text">
                    <span *ngFor="let openBugs of openBugInfo">{{ openBugs.title }}<br/></span>
                </p>
                <h6>Closed Bug(s):</h6>
                <div class='circle'>{{ closedBugInfo.length }}</div>
                <p class="card-text">
                    <span *ngFor="let closedBugs of closedBugInfo">{{ closedBugs.title }}<br/></span>
                </p>
                </div>
                </div>
        </div>
        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
            <div class="card">
                <h5 class="card-header">Projects</h5>
                <div class="card-body cardBodyInfo">
                <div class='circle'>{{ projectInfo.length }}</div>
                <p class="card-text">
                    <span *ngFor="let projects of projectInfo">{{ projects.name }}<br/></span>
                </p>
            </div>
            </div>
        </div>
        </div>
    
        
        <div class="row">
            <div class="col-8 col-xl-6 mb-4 mb-lg-0">
                <div class="card cardHeight">
                    <h5 class="card-header">All Recorded Bugs</h5>
                    <div class="card-body">
                        
                          <app-bug></app-bug>
    
                    </div>
                </div>
            </div>
            <div class="col-8 col-xl-6 mb-4 mb-lg-0">
                <div class="card cardHeight">
                    <h5 class="card-header">Visualization of Recorded Bugs by its Status</h5>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="traffic-chart all">
    
                                <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Click Here For Detailed View</button>
                              
                              <br/><br/>
                              <canvas id="areaChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8 col-xl-6 mb-4 mb-lg-0">
                <div class="card cardHeight">
                    <h5 class="card-header">All Recorded Projects</h5>
                    <div class="card-body">
                        <div id="traffic-chart">
                            <app-project></app-project>
                        </div>
                    </div>
                </div>
            </div>
    
    
        </div></div></div>
    </div>
    </div>
    <ng-template #content let-modal>
        <div class="modal-header">
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')" >X</button>
        </div>
        <div class="modal-body">
            <div class="row blurEffect">
                <div class="col-6 col-xl-6 mb-4 mb-lg-0">
                    <div class="card">
                        <h5 class="card-header">All Bug(s) notified from 2020 to Present</h5>
                        <div class="card-body">
                            <div id="traffic-chart">
                                <app-bar-chart [data]=bugInfoForChart></app-bar-chart>
                            </div>
                            </div>
                        </div>
                    </div>
                
                <div class="col-6 col-xl-6 mb-4 mb-lg-0">
                    <div class="card">
                        <h5 class="card-header">Open Bug(s) notified from 2020 to Present</h5>
                        <div class="card-body">
                            <div id="traffic-chart">
                                <app-bar-chart-for-open-bugs [data]=openBugInfoForChart></app-bar-chart-for-open-bugs>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-6 col-xl-6 mb-4 mb-lg-0">
                <div class="card">
                    <h5 class="card-header">Closed Bug(s) notified from 2020 to Present</h5>
                    <div class="card-body">
                        <div id="traffic-chart">
                            <app-bar-chart-for-closed-bugs [data]=closedBugInfoForChart></app-bar-chart-for-closed-bugs>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-6 mb-4 mb-lg-0">
                    <div class="card">
                        <h5 class="card-header">All Bug(s) notified from 2020 to Present</h5>
                        <div class="card-body">
                            <div id="traffic-chart">
                               <app-pie-chart [data]=bugInfoForChart></app-pie-chart>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </ng-template>